[Unit]
Description=Chromium Kiosk Mode
After=system-ready.target

[Service]
Type=simple
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/home/feralfile/scripts/start-kiosk.sh
ExecStopPost=systemctl --user stop chromium-ready.target
StandardOutput=append:/home/feralfile/.logs/chromium.log
StandardError=append:/home/feralfile/.logs/chromium.log
Restart=always
RestartSec=5

[Install]
WantedBy=default.target