[Unit]
Description=Feral File Kiosk Watchdog Daemon
After=system-ready.target feral-sys-monitord.service network.target
ConditionPathExists=/run/user/1000/bus

[Service]
Type=notify
ExecStart=/usr/bin/feral-watchdog
Restart=always
RestartSec=5s
WatchdogSec=30s
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
StandardOutput=append:/home/feralfile/.logs/watchdog.log
StandardError=append:/home/feralfile/.logs/watchdog.log

[Install]
WantedBy=default.target
