[Unit]
Description=Feral File System Monitord
ConditionPathExists=/run/user/1000/bus
StartLimitBurst=5
StartLimitIntervalSec=600

[Service]
Type=notify
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/feral-sys-monitord
Restart=always
RestartSec=5
WatchdogSec=30s
StandardOutput=append:/home/feralfile/.logs/sys-monitord.log
StandardError=append:/home/feralfile/.logs/sys-monitord.log

[Install]
WantedBy=default.target