[Unit]
Description=FeralFile Log Rotation Service

[Service]
Type=simple
ExecStart=/home/feralfile/scripts/log-rotation.sh
StandardOutput=append:/home/feralfile/.logs/log-rotation.log
StandardError=append:/home/feralfile/.logs/log-rotation.log